.Brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brandLogoContainer {
    width: 100px;
    height: 100px;
    aspect-ratio: auto 100/100;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}