.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image {
    position: relative;
}

.textImage {
    position: absolute;
    top: 18rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
}
    

